
.title_image{
  background-image: url("http://sneakerhdwallpapers.com/wallpapers/2017/kyrie-3-bruce-lee-wallpaper-preview.jpg");
  width: auto;
  height: 960px;
}

.main_container{
  background: #2f3133;
  margin: 50px;


}

body{
    background-image: url("http://sneakerhdwallpapers.com/wallpapers/2017/kyrie-3-bruce-lee-wallpaper-preview.jpg");
    height:50%;
    text-align: center;
  font-size: 30px;
  color:#ff0000;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}
